.container{
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/images/portada.png');
    background-position: right center;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 50px;
}

.hero_bkg{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_bkg h2{
    display: flex;
    text-align: left;
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin: 0;
    padding-right: 10px;
}

.hero_bkg p{
    text-align: left;
    padding:20px 70px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    
}

.hero_bkg button{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    width: 30%;
    align-items: end;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #00182b;
}

.hero_bkg button:hover{
    background-color: #446f91;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .container{
        background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/portada.png');
        background-position: center;
        background-size: cover;
        height: 500px;
    }
    .hero_bkg{
        width: 100%;
    }
    .hero_bkg h2{
        font-size: 50px;
    }
    .hero_bkg p{
        font-size: 18px;
    }
    .hero_bkg button{
        font-size: 18px;
        font-weight: 700;
        width: 25%;
        padding: 16px;
    }
}

@media screen and (max-width: 768px){
    .container{
        background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/portada.png');
        background-position: center;
        background-size: cover;
        height: 350px;
    }
    .hero_bkg{
        width: 100%;
    }
    .hero_bkg h2{
        font-size: 46px;
    }
    .hero_bkg p{
        font-size: 16px;
    }
    .hero_bkg button{
        font-size: 14px;
        font-weight: 700;
        width: 25%;
        padding: 16px;
    }
}